<%- include('header'); -%>   


<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, ab! Possimus, aut. Dicta iusto omnis nesciunt asperiores quos eveniet maiores repellat soluta quia repellendus, veniam perferendis voluptatem ducimus? Ipsam, quaerat.</p>

   
<%- include('footer'); -%>   
